<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebApp-01</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
    <welcome-file>Login.htm</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustAdd</display-name>
    <servlet-name>CustAdd</servlet-name>
    <servlet-class>com.nds.pkg.CustAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustAdd</servlet-name>
    <url-pattern>/CustAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSrvlt</display-name>
    <servlet-name>LoginSrvlt</servlet-name>
    <servlet-class>com.nds.pkg.LoginSrvlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSrvlt</servlet-name>
    <url-pattern>/LoginSrvlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustAddSrvlt</display-name>
    <servlet-name>CustAddSrvlt</servlet-name>
    <servlet-class>com.nds.pkg.CustAddSrvlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustAddSrvlt</servlet-name>
    <url-pattern>/CustAddSrvlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PubAddSrvlt</display-name>
    <servlet-name>PubAddSrvlt</servlet-name>
    <servlet-class>com.nds.pkg.PubAddSrvlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PubAddSrvlt</servlet-name>
    <url-pattern>/PubAddSrvlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustEditSrvlt</display-name>
    <servlet-name>CustEditSrvlt</servlet-name>
    <servlet-class>com.nds.pkg.CustEditSrvlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustEditSrvlt</servlet-name>
    <url-pattern>/CustEditSrvlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintReportSrvlt</display-name>
    <servlet-name>PrintReportSrvlt</servlet-name>
    <servlet-class>com.nds.pkg.PrintReportSrvlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintReportSrvlt</servlet-name>
    <url-pattern>/PrintReportSrvlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintFullSrvlt</display-name>
    <servlet-name>PrintFullSrvlt</servlet-name>
    <servlet-class>com.nds.pkg.PrintFullSrvlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintFullSrvlt</servlet-name>
    <url-pattern>/PrintFullSrvlt</url-pattern>
  </servlet-mapping>
</web-app>